<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>TODOS</h1>

    {{#if news.length}}
        <div class="news">
            <ul class="news__list">
                {{#each news}}
                    <li class="news__item">
                        <a href="{{link}}" class="new__link">{{title}}</a>
                        <div class="news__author">{{author}}</div>
                    </li>
                {{/each}}
            </ul>    
        </div>
    {{/if}}
</body>
</html>